@import '../../styles/mixins.scss';

.section_cars {
  height: 100vh;
  width: 100%;
  @include desktop {
    overflow-x: hidden;
  }
  overflow: hidden;
  position: relative;
}

.no_car {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/image/pexels-julio-nery-1687105.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    margin: 1rem 0 0 0;
  }

  p,
  i {
    color: white;
    font-size: 2rem;
  }

  i {
    font-size: 4rem;
  }
}

.cart_container {
  display: flex;
  height: 100%;
}

.arrow_btn {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 12;
  cursor: pointer;

  i {
    font-size: 1.7rem;

    @include desktop {
      font-size: 3rem;
    }
    color: rgb(255 255 255 / 45%);
    transition: transform ease-in-out 300ms;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.next_btn {
  top: 50%;
  right: 2rem;

  i {
    &:hover {
      transform: translateX(10%);
    }
  }
}

.prev_btn {
  top: 50%;
  left: 2rem;

  i {
    &:hover {
      transform: translateX(-10%);
    }
  }
}
