@import '../../styles/mixins.scss';

.info_section {
  width: 100%;
  padding: 1rem;
  @include desktop {
    height: 100vh;
    padding: 0;
  }
  background: url('../../assets/image/info-background.png') center center /
    cover no-repeat fixed;
}

.info_section_container {
  width: 100%;
  @include desktop {
    height: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_box_section_wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10rem;
  }
}
