.order_option_container {
  display: flex;
  width: 100%;
  transform: scale(0.7);

  span {
    color: black;
  }
}

.order_option {
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: azure;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.order_info {
  margin: 0 0 0 0.5rem;
  z-index: 16;
  opacity: 0;
  transition: opacity ease-in-out 500ms;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: rgba(240, 255, 255, 0.422);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order_info_show {
  opacity: 1;
}
